// COLOR PALLETE

$color_1: #4f55d9;
$color_2: #163e72;
$color_3: #151a39;
$color_4: #2a1c40;
$color_5: #8c311c;
$color_6: #734534;
$color_7: #f47c39;
$color_8: #f3aa50;
$color_9: #686e4d;
$color_10: #6a4d76;
